{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row mt-3 mb-3">
            <h1 class="col-6">BLOG LIST</h1>
            <a class="btn btn-primary ml-3" href="{% url 'post_list' %}">HOME</a>
            <a class="btn btn-primary ml-3" href="{% url 'post_create' %}">Create</a>
            <a class="btn btn-primary ml-3" href="{% url 'contact' %}">Contact</a>

            <!-- <a class="btn btn-primary" href="{% url 'post_create' %}">Create</a> -->
        </div>
    </div>
    {% endblock content %}